html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

main {
    padding: 2rem;
    max-width: 1100px;
    margin: auto;
}

body {
    background-color: whitesmoke;
    font-family: "Open Sans", sans-serif;
    color: #000;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.7;
}

.body-strong {
    font-family: "Open Sans", sans-serif;
    color: #000;
    font-size: 14.5px;
    font-weight: 500;
    line-height: 1.7;
}

h1, h2, h3, .section-title {
    font-family: "Antic Didone", serif;
    font-weight: 400;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#project-view, #project-info {
    padding: 20px;
    margin: 10px;
}

#preview-frame {
    width: 100%;
    max-width: 400px; /* or whatever size works for your layout */
    aspect-ratio: 1 / 1;
    border: none;
  }

.build-section {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    margin: 2rem;
    padding: 0 1.5rem;
  }

.button-light {
    font-family: "Open Sans", sans-serif;
    font-size: 13.5px;
    font-weight: 400;
    background-color: royalblue;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
}

.button-light:hover {
    background-color: black;
}

div {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}